{% extends 'main/base.html' %} 
{% block title %}
  User Type
{%endblock %}

{%block content %}
    <p class="choice_text">Choose whether you want to be a customer or a company</p>
    
    <div class="choice">
        <div class="company img" id="company">
            <a href="{% url 'users:register_company' %}">
                <img src="/static/css/company.png" alt="company" height="300px" width="480px">
            </a>
        </div>
        <p class="label_images">Company</p>
    </div>
    <div class="choice">
        <div class="customer img" id="customer">
            <a href="{% url 'users:register_customer' %}">
                <img src="/static/css/customer.png" alt="customer" height="300px" width="480px">
            </a>
        </div>
        <p>Customer</p>
    </div>
{% endblock %}
